<div class="container-fluid content-wrapper">
   <div class="col-md-8">
    <div ng-repeat="article in articles" class="article-wrapper">
      <h3 class="blog-head"><a ng-href="/article/{{article.id}}">{{ article.title }}</a></h3>
      <div class="article-wrap">
        <span class="article-tags">by <span>Stephen</span> on {{ formatTime(article.created_at) }}  <span class="tag" ng-show="{{article.tags}}" ng-repeat="tag in article.tags"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{tag.f2}} </span> </span>
        <p class="article-descrip" markdown-to-html="article.body">
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <div class="side-wrap info-wrap">
      <h3 class="side-head">About</h3>
      <p class="side-descrip">
        Gooey Tuts focuses on web technology tutorials,
        We love JavaScript and its many libraries
        including AngularJS 1&2, ReactJS, Node.js, Express.js, and Vue.js
        to name a few. Others include Bootstrap, Foundation, PostgreSQL, MongoDB
        and much much more!
      </p>
    </div>

    <div class="side-wrap map-wrap">
      <div class="map" id="map">
      </div>
    </div>

    <div class="side-wrap link-wrap">
      <h3 class="side-head">Links</h3>
      <ul class="link-list">
        <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL </a></li>
        <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
        <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
        <li><a href="https://expressjs.com/" target="_blank">Express.js</a></li>
        <li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
        <li><a href="https://facebook.github.io/react/index.html" target="_blank">ReactJS</a></li>
      </ul>
    </div>
  </div>
</div>
